@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&family=Libre+Baskerville&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
}

