@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

#root {
  margin: 0;
  text-align: center;
  font-family: "Antic Didone", serif;
  font-optical-sizing: auto;

}
body {
  background-color: #292929;
  color: black;
}